body {
  background-color: #ddd6d5;
}

.btn-primary {
  background-color: white;
  color: red;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid red;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: white;
  color: red;
  border-color: red;
  box-shadow: black 0px 0px 6px;
  /* border-color: #343A40; */
}

.btn-primary:active {
  color: white !important;
  background-color: lightgray !important;
  border-color: red !important;
}

.custom-btn {
  background-image: linear-gradient(to right, #9B3636, #351212) !important;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
}

.login-container {
  margin-top: 150px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.div-bg {
  max-width: 600px;
  border-radius: 10%;
  box-shadow: lightblue 0px 0px 50px;
  padding: 30px 100px;
}

.smaller-text {
  font-size: 14px;
}

/* datepicker styling */
.react-datepicker {
  border: 2px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: black 0px 0px 20px;
}

.react-datepicker__header {
  background-color: #007bff;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
}

.react-datepicker__year-option {
  padding: 5px;
  cursor: pointer;
}

.react-datepicker__year-option:hover {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__navigation--years-upcoming {
  color: #007bff;
}

.react-datepicker__navigation--years-previous {
  color: #007bff;
}

.navbar {
  position: fixed;
  top: -200px;
  /* Versteckt die Navbar außerhalb des sichtbaren Bereichs */
  width: 100%;
  transition: top 0.3s;
  /* Glatter Übergang */
  z-index: 1000;
  /* Stellt sicher, dass die Navbar über anderen Elementen liegt */
}

.navbar.show {
  top: 0;
  /* Zeigt die Navbar an, wenn die Klasse .show hinzugefügt wird */
}

.navbar.fixed {
  top: 0; /* Fixiert die Navbar oben, wenn die Klasse .fixed hinzugefügt wird */
}

body {
  padding-top: 0;
  transition: padding-top 0.3s;
}

body.navbar-fixed-padding {
  padding-top: 120px; /* Höhe der Navbar anpassen */
}