body {
  background-color: #ddd6d5;
}

.btn-primary {
  background-color: white;
  color: red;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid red;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: white;
  color: red;
  border-color: red;
  box-shadow: black 0px 0px 6px;
  /* border-color: #343A40; */
}

.btn-primary:active {
  color: white !important;
  background-color: lightgray !important;
  border-color: red !important;
}

.custom-btn {
  background-image: linear-gradient(to right, #9B3636,#351212) !important;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  /* Verteile den Platz zwischen den Elementen */
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.start-logo {
  max-width: 600px;
  border-radius: 10%;
  box-shadow: lightblue 0px 0px 50px;
  padding: 30px 100px;
}

.smaller-text {
    font-size: 14px; 
  }

